@import 'settings';
@import 'foundation';

@include foundation-global-styles;
@include foundation-xy-grid-classes;
//@include foundation-grid;
//@include foundation-flex-grid;
@include foundation-flex-classes;
@include foundation-typography;
@include foundation-forms;
@include foundation-button;
@include foundation-accordion;
@include foundation-accordion-menu;
@include foundation-badge;
@include foundation-breadcrumbs;
@include foundation-button-group;
@include foundation-callout;
@include foundation-card;
@include foundation-close-button;
@include foundation-menu;
@include foundation-menu-icon;
@include foundation-drilldown-menu;
@include foundation-dropdown;
@include foundation-dropdown-menu;
@include foundation-responsive-embed;
@include foundation-label;
@include foundation-media-object;
@include foundation-off-canvas;
@include foundation-orbit;
//@include foundation-pagination;
@include foundation-progress-bar;
@include foundation-slider;
@include foundation-sticky;
@include foundation-reveal;
@include foundation-switch;
@include foundation-table;
@include foundation-tabs;
@include foundation-thumbnail;
@include foundation-title-bar;
//@include foundation-tooltip;
@include foundation-top-bar;
@include foundation-visibility-classes;
@include foundation-float-classes;

ul.block {
	list-style: none;
	margin-left: 0;
	padding-left: 0;
	border-bottom: 1px dotted #e2e2e2;

	li {
		padding: 0.5rem;
		border-top: 1px dotted #e2e2e2;
	}
}

.code {
	font-family: $font-family-monospace;
}

.filename {
	font-family: $font-family-monospace;
	color: rgba(0,0,0,0.6);
}

h1 .filename {
	font-size: 1.3rem;
	color: rgba(0,0,0,0.4);
	padding-left: 10px;
	vertical-align: middle;
}

h1.fileheader {
	border-bottom: 1px solid $swat-gray;
	position: relative;
	margin-bottom: 1.5rem;

	span {
		position: absolute;
		right: 0;
		bottom: 0;
		background: $swat-gray;
		font-family: $font-family-monospace;
		font-size: 1rem;
		padding: 0.3rem 0.5rem;
		color: rgba(0,0,0,0.6);
	}
}

.callout.highlight {
	background-color: scale-color($swat-highlight, $lightness: 50%);
}

label.check {
	font-size: $global-font-size;
}

thead th .fa {
	color: rgba(0,0,0,0.4);
	padding-left: 5px;
}

.table-scroll {
	margin-bottom: 1rem;
	table {
		margin-bottom: 0;

		thead th {
			white-space: nowrap;
		}
	}
}

table.edit {
	tbody td {
		vertical-align: middle;
		padding: 0.4rem 0.625rem;
	}

	tbody td.field {
		white-space: nowrap;
		width: 1%;
	}
	
	input, select {
		margin: 0;
	}
	
	input[type="number"] {
		width: 120px;
	}
}

select {
	background: none;
	padding-right: 0.5rem;
}

input.ng-invalid.ng-touched, select.ng-invalid.ng-touched, textarea.ng-invalid.ng-touched,
.reveal-errors input.ng-invalid, .reveal-errors select.ng-invalid, .reveal-errors textarea.ng-invalid {
	border-color: $alert-color;
	background: scale-color($alert-color, $lightness: 90%);
}

.callout.success.alert {
	background-color: $success-color;
}

.callout.warning {
	background-color: scale-color($warning-color, $lightness: 70%);
}

.callout {
	button.close {
		float: right;
		color: rgba(255,255,255,0.7);
		font-size: 120%;
		cursor: pointer;
	}

	.icon {
		display: flex;
		flex-direction: row;

		.icon-img i {
			padding-right: 10px;
		}
	}
}

.callout.highlight {
	.icon-img i {
		color: scale-color($primary-color, $lightness: 60%);
	}
}

.text-alert {
	color: $alert-color;
}

#main {
	padding: 1rem 2rem;
	max-width: 2500px;
}

#content-frame {
	position: relative;
}

#side-panel {
	background: $swat-color;
	color: $white;
	font-size: 1.5rem;

	width: 60px;
	height: 100%;
	position: fixed;
	z-index: 1010;

	a {
		color: rgba(255,255,255,0.7);
	}

	a:hover, a.active {
		color: rgba(255,255,255,1);
	}

	ul.bottom {
		position: absolute;
		bottom: 10px;
	}

	.tooltip {
		width: 140px;
	}
}

#side-sub-panel {
	background: $swat-gray;

	left: 60px;
	width: 200px;
	height: 100%;
	position: fixed;
	z-index: 1000;
	overflow-y: auto;

	ul.menu {
		li {
			margin-bottom: 1px;
			
			span {
				display: block;
				background: scale-color($swat-gray, $lightness: -15%);
				padding: 0.5rem 1rem;
				text-transform: uppercase;
				font-size: 0.7rem;
				font-weight: bold;
				cursor: pointer;

				i {
					float: right;
					padding-top: 0.2rem;
				}
			}
		}

		ul.nested {
			margin-left: 0;
			margin-bottom: 1rem;

			li {
				font-size: 0.9rem;

				a {
					padding: 0.5rem 0.5rem 0.5rem 1.5rem;
					color: $black;
				}

				a:hover, a.active {
					background: scale-color($swat-highlight, $lightness: 35%);
				}
			}
		}
	}
}

#main-panel {
	margin-left: 260px;
	position: relative;
}
#main-panel.no-sub {
	margin-left: 60px;

	#main {
		padding: 1rem 2.5rem;
	}
}

#taskbar {
	background: $swat-gray;
	position: fixed;
	bottom: 0;
	left: 0;
	width: 100%;
	text-align: right;
	font-size: $small-font-size;
	color: rgba(0,0,0,0.6);

	.content {
		padding: 0.25rem 2rem;
	}
}

.autocomplete {
	position: absolute;
	top: 100%;
	left: 0;
	z-index: 1000;
	display: none;
	background-color: #f9f9f9;
	max-height: 200px;
	overflow: auto;
	border: 1px solid $medium-gray;

	.dropdown.menu {
    position: static;
    float: none;
    display: block;
    min-width: 160px;
    background-color: transparent;
    border: none;
    border-radius: 0;
    box-shadow: none;
  }
}

/* Bootstrap components from source */
.tooltip {
	position: absolute;
	z-index: 1070;
	display: block;
	font-family: $body-font-family;
	font-style: normal;
	font-weight: normal;
	letter-spacing: normal;
	line-break: auto;
	line-height: 1.42857143;
	text-align: left;
	text-align: start;
	text-decoration: none;
	text-shadow: none;
	text-transform: none;
	white-space: normal;
	word-break: normal;
	word-spacing: normal;
	word-wrap: normal;
	font-size: 13px;
	opacity: 0;
	filter: alpha(opacity=0);
  }
  .tooltip.in {
	opacity: 0.9;
	filter: alpha(opacity=90);
  }
  .tooltip.top {
	margin-top: -3px;
	padding: 5px 0;
  }
  .tooltip.right {
	margin-left: 3px;
	padding: 0 5px;
  }
  .tooltip.bottom {
	margin-top: 3px;
	padding: 5px 0;
  }
  .tooltip.left {
	margin-left: -3px;
	padding: 0 5px;
  }
  .tooltip-inner {
	max-width: 200px;
	padding: 3px 8px;
	color: #ffffff;
	text-align: center;
	background-color: #000000;
	border-radius: 4px;
  }
  .tooltip-arrow {
	position: absolute;
	width: 0;
	height: 0;
	border-color: transparent;
	border-style: solid;
  }
  .tooltip.top .tooltip-arrow {
	bottom: 0;
	left: 50%;
	margin-left: -5px;
	border-width: 5px 5px 0;
	border-top-color: #000000;
  }
  .tooltip.top-left .tooltip-arrow {
	bottom: 0;
	right: 5px;
	margin-bottom: -5px;
	border-width: 5px 5px 0;
	border-top-color: #000000;
  }
  .tooltip.top-right .tooltip-arrow {
	bottom: 0;
	left: 5px;
	margin-bottom: -5px;
	border-width: 5px 5px 0;
	border-top-color: #000000;
  }
  .tooltip.right .tooltip-arrow {
	top: 50%;
	left: 0;
	margin-top: -5px;
	border-width: 5px 5px 5px 0;
	border-right-color: #000000;
  }
  .tooltip.left .tooltip-arrow {
	top: 50%;
	right: 0;
	margin-top: -5px;
	border-width: 5px 0 5px 5px;
	border-left-color: #000000;
  }
  .tooltip.bottom .tooltip-arrow {
	top: 0;
	left: 50%;
	margin-left: -5px;
	border-width: 0 5px 5px;
	border-bottom-color: #000000;
  }
  .tooltip.bottom-left .tooltip-arrow {
	top: 0;
	right: 5px;
	margin-top: -5px;
	border-width: 0 5px 5px;
	border-bottom-color: #000000;
  }
  .tooltip.bottom-right .tooltip-arrow {
	top: 0;
	left: 5px;
	margin-top: -5px;
	border-width: 0 5px 5px;
	border-bottom-color: #000000;
  }

  .popover {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 1060;
	display: none;
	max-width: 800px;
	padding: 1px;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-style: normal;
	font-weight: normal;
	letter-spacing: normal;
	line-break: auto;
	line-height: 1.42857143;
	text-align: left;
	text-align: start;
	text-decoration: none;
	text-shadow: none;
	text-transform: none;
	white-space: normal;
	word-break: normal;
	word-spacing: normal;
	word-wrap: normal;
	font-size: 14px;
	background-color: #ffffff;
	-webkit-background-clip: padding-box;
			background-clip: padding-box;
	border: 1px solid #cccccc;
	border: 1px solid rgba(0, 0, 0, 0.2);
	/*border-radius: 6px;*/
	-webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
	box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  }
  .popover.top {
	margin-top: -10px;
  }
  .popover.right {
	margin-left: 10px;
  }
  .popover.bottom {
	margin-top: 10px;
  }
  .popover.left {
	margin-left: -10px;
  }
  .popover-title {
	margin: 0;
	padding: 8px 14px;
	font-size: 1.5rem;
	background-color: #f7f7f7;
	border-bottom: 1px solid #ebebeb;
	/*border-radius: 5px 5px 0 0;*/
  }
  .popover-content {
	padding: 9px 14px;
  }
  .popover > .arrow,
  .popover > .arrow:after {
	position: absolute;
	display: block;
	width: 0;
	height: 0;
	border-color: transparent;
	border-style: solid;
  }
  .popover > .arrow {
	border-width: 11px;
  }
  .popover > .arrow:after {
	border-width: 10px;
	content: "";
  }
  .popover.top > .arrow {
	left: 50%;
	margin-left: -11px;
	border-bottom-width: 0;
	border-top-color: #999999;
	border-top-color: rgba(0, 0, 0, 0.25);
	bottom: -11px;
  }
  .popover.top > .arrow:after {
	content: " ";
	bottom: 1px;
	margin-left: -10px;
	border-bottom-width: 0;
	border-top-color: #ffffff;
  }
  .popover.right > .arrow {
	top: 50%;
	left: -11px;
	margin-top: -11px;
	border-left-width: 0;
	border-right-color: #999999;
	border-right-color: rgba(0, 0, 0, 0.25);
  }
  .popover.right > .arrow:after {
	content: " ";
	left: 1px;
	bottom: -10px;
	border-left-width: 0;
	border-right-color: #ffffff;
  }
  .popover.bottom > .arrow {
	left: 50%;
	margin-left: -11px;
	border-top-width: 0;
	border-bottom-color: #999999;
	border-bottom-color: rgba(0, 0, 0, 0.25);
	top: -11px;
  }
  .popover.bottom > .arrow:after {
	content: " ";
	top: 1px;
	margin-left: -10px;
	border-top-width: 0;
	border-bottom-color: #ffffff;
  }
  .popover.left > .arrow {
	top: 50%;
	right: -11px;
	margin-top: -11px;
	border-right-width: 0;
	border-left-color: #999999;
	border-left-color: rgba(0, 0, 0, 0.25);
  }
  .popover.left > .arrow:after {
	content: " ";
	right: 1px;
	border-right-width: 0;
	border-left-color: #ffffff;
	bottom: -10px;
  }

  .fade {
	opacity: 0;
	-webkit-transition: opacity 0.15s linear;
	-o-transition: opacity 0.15s linear;
	transition: opacity 0.15s linear;
  }
  .fade.in {
	opacity: 1;
  }
  .collapse {
	display: none;
  }
  .collapse.in {
	display: block;
  }
  tr.collapse.in {
	display: table-row;
  }
  tbody.collapse.in {
	display: table-row-group;
  }
  .collapsing {
	position: relative;
	height: 0;
	overflow: hidden;
	-webkit-transition-property: height, visibility;
	-o-transition-property: height, visibility;
	   transition-property: height, visibility;
	-webkit-transition-duration: 0.35s;
	-o-transition-duration: 0.35s;
	   transition-duration: 0.35s;
	-webkit-transition-timing-function: ease;
	-o-transition-timing-function: ease;
	   transition-timing-function: ease;
	}
	.modal-open {
		overflow: hidden;
	}
	.modal {
		display: none;
		overflow: hidden;
		position: fixed;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		z-index: 1050;
		-webkit-overflow-scrolling: touch;
		outline: 0;
	}
	.modal.fade .modal-dialog {
		-webkit-transform: translate(0, -25%);
		-ms-transform: translate(0, -25%);
		-o-transform: translate(0, -25%);
		transform: translate(0, -25%);
		-webkit-transition: -webkit-transform 0.3s ease-out;
		-o-transition: -o-transform 0.3s ease-out;
		transition: transform 0.3s ease-out;
	}
	.modal.in .modal-dialog {
		-webkit-transform: translate(0, 0);
		-ms-transform: translate(0, 0);
		-o-transform: translate(0, 0);
		transform: translate(0, 0);
	}
	.modal-open .modal {
		overflow-x: hidden;
		overflow-y: auto;
	}
	.modal-dialog {
		position: relative;
		width: auto;
		margin: 10px;
	}
	.modal-content {
		position: relative;
		background-color: #ffffff;
		border: 1px solid #999999;
		border: 1px solid rgba(0, 0, 0, 0.2);
		border-radius: 6px;
		-webkit-box-shadow: 0 3px 9px rgba(0, 0, 0, 0.5);
		box-shadow: 0 3px 9px rgba(0, 0, 0, 0.5);
		-webkit-background-clip: padding-box;
						background-clip: padding-box;
		outline: 0;
	}
	.modal-backdrop {
		position: fixed;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		z-index: 1040;
		background-color: #000000;
	}
	.modal-backdrop.fade {
		opacity: 0;
		filter: alpha(opacity=0);
	}
	.modal-backdrop.in {
		opacity: 0.5;
		filter: alpha(opacity=50);
	}
	.modal-header {
		padding: 15px;
		border-bottom: 1px solid #e5e5e5;
	}
	.modal-header .close {
		margin-top: -2px;
	}
	.modal-title {
		margin: 0;
		line-height: 1.42857143;
	}
	.modal-body {
		position: relative;
		padding: 15px;
	}
	.modal-footer {
		padding: 15px;
		text-align: right;
		border-top: 1px solid #e5e5e5;
	}
	.modal-footer .btn + .btn {
		margin-left: 5px;
		margin-bottom: 0;
	}
	.modal-footer .btn-group .btn + .btn {
		margin-left: -1px;
	}
	.modal-footer .btn-block + .btn-block {
		margin-left: 0;
	}
	.modal-scrollbar-measure {
		position: absolute;
		top: -9999px;
		width: 50px;
		height: 50px;
		overflow: scroll;
	}
	@media (min-width: 768px) {
		.modal-dialog {
			width: 600px;
			margin: 30px auto;
		}
		.modal-content {
			-webkit-box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
			box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
		}
		.modal-sm {
			width: 300px;
		}
	}
	@media (min-width: 992px) {
		.modal-lg {
			width: 900px;
		}
	}

	.pagination {
		display: inline-block;
		padding-left: 0;
		margin: 0 0 1.5rem;
		border-radius: 4px;
	}
	.pagination > li {
		display: inline;
	}
	.pagination > li > a,
	.pagination > li > span {
		position: relative;
		float: left;
		padding: 6px 12px;
		line-height: 1.42857143;
		text-decoration: none;
		color: $primary-color;
		background-color: #ffffff;
		border: 1px solid #dddddd;
		margin-left: -1px;
	}
	.pagination > li:first-child > a,
	.pagination > li:first-child > span {
		margin-left: 0;
		border-bottom-left-radius: 4px;
		border-top-left-radius: 4px;
	}
	.pagination > li:last-child > a,
	.pagination > li:last-child > span {
		border-bottom-right-radius: 4px;
		border-top-right-radius: 4px;
	}
	.pagination > li > a:hover,
	.pagination > li > span:hover,
	.pagination > li > a:focus,
	.pagination > li > span:focus {
		z-index: 2;
		color: $primary-color;
		background-color: #eeeeee;
		border-color: #dddddd;
	}
	.pagination > .active > a,
	.pagination > .active > span,
	.pagination > .active > a:hover,
	.pagination > .active > span:hover,
	.pagination > .active > a:focus,
	.pagination > .active > span:focus {
		z-index: 3;
		color: #ffffff;
		background-color: $swat-blue;
		border-color: $swat-blue;
		cursor: default;
	}
	.pagination > .disabled > span,
	.pagination > .disabled > span:hover,
	.pagination > .disabled > span:focus,
	.pagination > .disabled > a,
	.pagination > .disabled > a:hover,
	.pagination > .disabled > a:focus {
		color: #777777;
		background-color: #ffffff;
		border-color: #dddddd;
		cursor: not-allowed;
	}
	.pagination-lg > li > a,
	.pagination-lg > li > span {
		padding: 10px 16px;
		font-size: 18px;
		line-height: 1.3333333;
	}
	.pagination-lg > li:first-child > a,
	.pagination-lg > li:first-child > span {
		border-bottom-left-radius: 6px;
		border-top-left-radius: 6px;
	}
	.pagination-lg > li:last-child > a,
	.pagination-lg > li:last-child > span {
		border-bottom-right-radius: 6px;
		border-top-right-radius: 6px;
	}
	.pagination-sm > li > a,
	.pagination-sm > li > span {
		padding: 5px 10px;
		font-size: 12px;
		line-height: 1.5;
	}
	.pagination-sm > li:first-child > a,
	.pagination-sm > li:first-child > span {
		border-bottom-left-radius: 3px;
		border-top-left-radius: 3px;
	}
	.pagination-sm > li:last-child > a,
	.pagination-sm > li:last-child > span {
		border-bottom-right-radius: 3px;
		border-top-right-radius: 3px;
	}
	
	/* Bootstrap component mods */
	.modal-content {
		border-radius: 0;
	}