<form name="form" ng-submit="ok()">
	<div class="modal-header">
		<h1 class="modal-title">Import Observed Weather Data in Another Format</h1>
	</div>
	<div class="modal-body">
		<div ng-if="error != null" class="alert callout">
			<i class="fa fa-exclamation-triangle" aria-hidden="true"></i>
			{{error}}
		</div>

		<div ng-if="!isSaving">
			<p>
				Convert weather files to SWAT+ format, then add the new file names to the database, create weather stations, and match the weather stations to 
				your connect files (if they exist).
			</p>
			<div class="callout highlight">
				<div class="icon">
					<div class="icon-img">
						<i class="fa fa-info-circle fa-2x" aria-hidden="true"></i>
					</div>
					<div class="icon-text">
						Currently only SWAT+ text file format is supported. This is not your pcp.pcp (etc); instead you will have a text file for each measurement (e.g., pcp.txt)
						listing each station and its coordinated, and a text file for each station for each measurement.
					</div>
				</div>								
			</div>
			<div ng-class="{'reveal-errors':revealErrors, 'none':!revealErrors}">
				<div>
					Select your data format
					<select name="format" ng-model="options.format">
						<option value="SWAT2012">SWAT2012 text files</option>
					</select>
				</div>
				<div>
					<label>
						{{options.format}} weather files directory
						<span ng-messages="form.source_dir.$error" class="text-alert" ng-show="form.source_dir.$touched || revealErrors">
							<span ng-message="required">(required)</span>
						</span>
						<div class="input-group">
							<input type="text" name="source_dir" ng-model="options.source_dir" class="input-group-field" required>
							<div class="input-group-button">
								<input type="button" value="Browse" class="button" ng-click="selectSourceDirectory()">
							</div>
						</div>	
					</label>
				</div>
				<div>
					<label>
						Directory to save your SWAT+ weather files
						<span ng-messages="form.save_dir.$error" class="text-alert" ng-show="form.save_dir.$touched || revealErrors">
							<span ng-message="required">(required)</span>
						</span>
						<div class="input-group">
							<input type="text" name="save_dir" ng-model="options.save_dir" class="input-group-field" required>
							<div class="input-group-button">
								<input type="button" value="Browse" class="button" ng-click="selectSaveDirectory()">
							</div>
						</div>	
					</label>
				</div>
				<div>
					<label class="check">
						<input type="checkbox" ng-model="options.delete_existing"> Delete existing stations? Leave unchecked to keep.
					</label>
				</div>				
			</div>
		</div>

		<div ng-if="isSaving">
			<div class="progress" role="progressbar" tabindex="0" aria-valuenow="{{progress.percent}}" aria-valuemin="0" aria-valuemax="100">
				<div class="progress-meter" style="width: {{progress.percent}}%"></div>
			</div>
			<p>
				{{progress.message}}
			</p>
		</div>
	</div>
	<div class="modal-footer">
		<button type="submit" class="button" ng-click="revealErrors = true" ng-disabled="isSaving">
			<i class="fa fa-spinner fa-spin" ng-show="isSaving"></i>
			Start Import
		</button>
		<button class="button secondary" type="button" ng-click="cancel()">Cancel</button>
	</div>
</form>