<script type="text/ng-template" id="autcompleteTemplate.html">
	<div class="autocomplete"
		ng-style="{top: position().top+'px', left: position().left+'px'}"
		style="display: block;"
		ng-show="isOpen() && !moveInProgress"
		aria-hidden="{{!isOpen()}}">

		<ul class="dropdown menu" role="listbox">
			<li class="uib-typeahead-match" ng-repeat="match in matches track by $index" ng-class="{active: isActive($index) }"
				ng-mouseenter="selectActive($index)" ng-click="selectMatch($index)" role="option" id="{{::match.id}}">
				<div uib-typeahead-match index="$index" match="match" query="query" template-url="templateUrl"></div>
			</li>
		</ul>
	</div>
</script>

<form name="form" ng-submit="save()">
	<div class="modal-header">
		<h1 class="modal-title">{{title}}</h1>
	</div>
	<div class="modal-body">
		<div ng-if="error != null" class="alert callout">
			<i class="fa fa-exclamation-triangle" aria-hidden="true"></i>
			{{error}}
		</div>

		<div>
			<label>
				Station name
				<input type="text" ng-model="station.name" uib-tooltip="Must be unique and cannot contain spaces" tooltip-placement="bottom">
			</label>
		</div>
		<div>
			<label>
				Weather generator
				<input type="text" ng-model="station.wgn_name"
					uib-typeahead="wgn as wgn for wgn in wgns($viewValue)" typeahead-min-length="1" typeahead-popup-template-url="autcompleteTemplate.html">
			</label>
		</div>
		<div class="grid-x grid-margin-x">
			<div class="cell medium-6">
				<label>
					Latitude
					<input type="number" step="any" ng-model="station.lat">
				</label>
			</div>
			<div class="cell medium-6">
				<label>
					Longitude
					<input type="number" step="any" ng-model="station.lon">
				</label>
			</div>
		</div>

		<table class="edit">
			<thead>
				<tr>
					<th></th>
					<th class="text-center">Simulated</th>
					<th class="text-center">Observed</th>
					<th>Observed data file name</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>Precipitation</td>
					<td class="text-center"><input type="radio" name="pcp_sim_obs" ng-model="stationForm.pcp_sim_obs" value="simulated"></td>
					<td class="text-center"><input type="radio" name="pcp_sim_obs" ng-model="stationForm.pcp_sim_obs" value="observed"></td>
					<td><input type="text" ng-model="station.pcp" ng-disabled="stationForm.pcp_sim_obs == 'simulated'" focus-me="stationForm.pcp_sim_obs == 'observed'" 
						uib-typeahead="file as file for file in files('pcp', $viewValue)" typeahead-min-length="1" typeahead-popup-template-url="autcompleteTemplate.html"></td>
				</tr>
				<tr>
					<td>Temperature</td>
					<td class="text-center"><input type="radio" name="tmp_sim_obs" ng-model="stationForm.tmp_sim_obs" value="simulated"></td>
					<td class="text-center"><input type="radio" name="tmp_sim_obs" ng-model="stationForm.tmp_sim_obs" value="observed"></td>
					<td><input type="text" ng-model="station.tmp" ng-disabled="stationForm.tmp_sim_obs == 'simulated'" focus-me="stationForm.tmp_sim_obs == 'observed'" 
						uib-typeahead="file as file for file in files('tmp', $viewValue)" typeahead-min-length="1" typeahead-popup-template-url="autcompleteTemplate.html"></td>
				</tr>
				<tr>
					<td>Solar radiation</td>
					<td class="text-center"><input type="radio" name="slr_sim_obs" ng-model="stationForm.slr_sim_obs" value="simulated"></td>
					<td class="text-center"><input type="radio" name="slr_sim_obs" ng-model="stationForm.slr_sim_obs" value="observed"></td>
					<td><input type="text" ng-model="station.slr" ng-disabled="stationForm.slr_sim_obs == 'simulated'" focus-me="stationForm.slr_sim_obs == 'observed'" 
						uib-typeahead="file as file for file in files('slr', $viewValue)" typeahead-min-length="1" typeahead-popup-template-url="autcompleteTemplate.html"></td>
				</tr>
				<tr>
					<td>Relative humidity</td>
					<td class="text-center"><input type="radio" name="hmd_sim_obs" ng-model="stationForm.hmd_sim_obs" value="simulated"></td>
					<td class="text-center"><input type="radio" name="hmd_sim_obs" ng-model="stationForm.hmd_sim_obs" value="observed"></td>
					<td><input type="text" ng-model="station.hmd" ng-disabled="stationForm.hmd_sim_obs == 'simulated'" focus-me="stationForm.hmd_sim_obs == 'observed'" 
						uib-typeahead="file as file for file in files('hmd', $viewValue)" typeahead-min-length="1" typeahead-popup-template-url="autcompleteTemplate.html"></td>
				</tr>
				<tr>
					<td>Wind speed</td>
					<td class="text-center"><input type="radio" name="wnd_sim_obs" ng-model="stationForm.wnd_sim_obs" value="simulated"></td>
					<td class="text-center"><input type="radio" name="wnd_sim_obs" ng-model="stationForm.wnd_sim_obs" value="observed"></td>
					<td><input type="text" ng-model="station.wnd" ng-disabled="stationForm.wnd_sim_obs == 'simulated'" focus-me="stationForm.wnd_sim_obs == 'observed'" 
						uib-typeahead="file as file for file in files('wnd', $viewValue)" typeahead-min-length="1" typeahead-popup-template-url="autcompleteTemplate.html"></td>
				</tr>
				<tr>
					<td>Wind direction</td>
					<td class="text-center"><input type="radio" name="wnd_dir_sim_obs" ng-model="stationForm.wnd_dir_sim_obs" value="simulated"></td>
					<td class="text-center"><input type="radio" name="wnd_dir_sim_obs" ng-model="stationForm.wnd_dir_sim_obs" value="observed"></td>
					<td><input type="text" ng-model="station.wnd_dir" ng-disabled="stationForm.wnd_dir_sim_obs == 'simulated'" focus-me="stationForm.wnd_dir_sim_obs == 'observed'"></td>
				</tr>
				<tr>
					<td>Atmospheric deposition</td>
					<td class="text-center"><input type="radio" name="atmo_dep_sim_obs" ng-model="stationForm.atmo_dep_sim_obs" value="simulated"></td>
					<td class="text-center"><input type="radio" name="atmo_dep_sim_obs" ng-model="stationForm.atmo_dep_sim_obs" value="observed"></td>
					<td><input type="text" ng-model="station.atmo_dep" ng-disabled="stationForm.atmo_dep_sim_obs == 'simulated'" focus-me="stationForm.atmo_dep_sim_obs == 'observed'"></td>
				</tr>
			</tbody>
		</table>
	</div>
	<div class="modal-footer">
		<button type="submit" class="button" ng-click="revealErrors = true" ng-disabled="isSaving">
			<i class="fa fa-spinner fa-spin" ng-show="isSaving"></i>
			Save Changes
		</button>
		<button class="button secondary" type="button" ng-click="cancel()" ng-disabled="isSaving">Cancel</button>
	</div>
</form>