<h1 class="fileheader">
    Climate / Weather Stations 
    <span>Default file name: weather-sta.cli</span>
</h1>

<div ng-if="current_project === undefined" class="alert callout">
    <i class="fa fa-exclamation-triangle" aria-hidden="true"></i>
    No open project. Please go to <a ui-sref="projectSetup">project setup</a>.
</div>

<div ng-if="loading">
    <i class="fa fa-spinner fa-2x" title="Loading..."></i>
</div>

<div ng-if="current_project !== undefined && !loading">
		<h2>Observed Weather Data Files</h2>
		<p>
			Select and save the location of your SWAT+ observed weather data below.
			This directory should contain text files of your data using the SWAT+ format.
			If you have weather data in SWAT2012 format, click the import another format button below to convert these files to SWAT+.
		</p>
		<form name="weatherDirForm" ng-submit="openImportModal()">
			<div ng-class="{'reveal-errors':revealErrors, 'none':!revealErrors}">
				<div>
					<label>
						<span ng-messages="weatherDirForm.weather_data_dir.$error" class="text-alert" ng-show="weatherDirForm.weather_data_dir.$touched || revealErrors">
							<span ng-message="required">Required</span>
						</span>
						<div class="input-group">
							<input type="text" name="weather_data_dir" ng-model="form.weather_data_dir" class="input-group-field" required>
							<div class="input-group-button">
								<input type="button" value="Browse" class="button" ng-click="selectWeatherDirectory()">
							</div>
						</div>	
					</label>
				</div>
				<p>
					<button type="submit" class="button" ng-click="revealErrors = true" ng-disabled="isSaving" 
						uib-tooltip="Save the location of your files to your project, then import weather stations from these files. Must be SWAT+ format." tooltip-placement="bottom">
						<i class="fa fa-spinner fa-spin" ng-show="isSaving"></i>
						Save &amp; Import Stations
					</button>
					<button type="button" class="button" ng-click="openImportNewFormatModal()" uib-tooltip="If your weather data is not already in SWAT+ format, click here to import it." tooltip-placement="bottom">
						Import Another Format
					</button>
				</p>					
			</div>
		</form>

		<h2>Weather Stations</h2>

		<div ng-if="stations.length < 1" class="callout">
			Your project does not have any weather stations defined. 
			Import them using the form above, or click below to manually add a station.
		</div>
	
		<div ng-if="stations.length > 0">
			<div class="table-scroll">
				<table>
					<thead>
						<tr>
							<th>
								<span style="cursor:pointer" ng-click="sortType = 'name'; sortReverse = !sortReverse; getStations()">
									Name <span ng-show="sortType == 'name'" ng-class="{'fa fa-caret-up':!sortReverse,'fa fa-caret-down':sortReverse}"></span>
								</span>
							</th>
							<th>
								<span style="cursor:pointer" ng-click="sortType = 'pcp'; sortReverse = !sortReverse; getStations()">
									Precipitation <span ng-show="sortType == 'pcp'" ng-class="{'fa fa-caret-up':!sortReverse,'fa fa-caret-down':sortReverse}"></span>
								</span>
							</th>
							<th>
								<span style="cursor:pointer" ng-click="sortType = 'tmp'; sortReverse = !sortReverse; getStations()">
									Temperature <span ng-show="sortType == 'tmp'" ng-class="{'fa fa-caret-up':!sortReverse,'fa fa-caret-down':sortReverse}"></span>
								</span>
							</th>
							<th>
								<span style="cursor:pointer" ng-click="sortType = 'slr'; sortReverse = !sortReverse; getStations()">
									Solar radiation <span ng-show="sortType == 'slr'" ng-class="{'fa fa-caret-up':!sortReverse,'fa fa-caret-down':sortReverse}"></span>
								</span>
							</th>
							<th>
								<span style="cursor:pointer" ng-click="sortType = 'hmd'; sortReverse = !sortReverse; getStations()">
									Rel. humidity <span ng-show="sortType == 'hmd'" ng-class="{'fa fa-caret-up':!sortReverse,'fa fa-caret-down':sortReverse}"></span>
								</span>
							</th>
							<th>
								<span style="cursor:pointer" ng-click="sortType = 'wnd'; sortReverse = !sortReverse; getStations()">
									Wind speed <span ng-show="sortType == 'wnd'" ng-class="{'fa fa-caret-up':!sortReverse,'fa fa-caret-down':sortReverse}"></span>
								</span>
							</th>
							<th>
								<span style="cursor:pointer" ng-click="sortType = 'wnd_dir'; sortReverse = !sortReverse; getStations()">
									Wind direction <span ng-show="sortType == 'wnd_dir'" ng-class="{'fa fa-caret-up':!sortReverse,'fa fa-caret-down':sortReverse}"></span>
								</span>
							</th>
							<th>
								<span style="cursor:pointer" ng-click="sortType = 'atmo_dep'; sortReverse = !sortReverse; getStations()">
									Atmo. dep. <span ng-show="sortType == 'atmo_dep'" ng-class="{'fa fa-caret-up':!sortReverse,'fa fa-caret-down':sortReverse}"></span>
								</span>
							</th>
							<th>
								<span style="cursor:pointer" ng-click="sortType = 'lat'; sortReverse = !sortReverse; getStations()">
									Lat <span ng-show="sortType == 'lat'" ng-class="{'fa fa-caret-up':!sortReverse,'fa fa-caret-down':sortReverse}"></span>
								</span>
							</th>
							<th>
								<span style="cursor:pointer" ng-click="sortType = 'lon'; sortReverse = !sortReverse; getStations()">
									Lon <span ng-show="sortType == 'lon'" ng-class="{'fa fa-caret-up':!sortReverse,'fa fa-caret-down':sortReverse}"></span>
								</span>
							</th>
							<th></th>
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat="station in stations | orderBy:sortType:sortReverse">
							<td><a ng-click="openUpdateModal(station.id)">{{station.name}}</a></td>
							<td>{{station.pcp}}</td>
							<td>{{station.tmp}}</td>
							<td>{{station.slr}}</td>
							<td>{{station.hmd}}</td>
							<td>{{station.wnd}}</td>
							<td>{{station.wnd_dir}}</td>
							<td>{{station.atmo_dep}}</td>
							<td>{{station.lat | number : 2}}</td>
							<td>{{station.lon | number : 2}}</td>
							<td><i class="fa fa-remove text-alert" style="cursor:pointer" ng-click="openDeleteModal(station.id, station.name)" uib-tooltip="Delete station" tooltip-placement="left"></i></td>
						</tr>
					</tbody>
				</table>
			</div>
			
			<ul uib-pagination total-items="pagination.total" ng-model="pagination.currentPage" 
				class="pagination" boundary-links="true" items-per-page="pagination.itemsPerPage" max-size="pagination.maxSize" boundary-link-numbers="true" ng-change="getStations()" 
				ng-show="pagination.total > pagination.itemsPerPage"></ul>
		</div>

		<p>
			<button type="button" class="button" ng-click="openCreateModal()">Add a weather station</button>
		</p>
</div>
