<div class="modal-header">
	<h1 class="modal-title">Import SWAT+ Observed Weather Data</h1>
</div>
<div class="modal-body">
	<div ng-if="error != null" class="alert callout">
		<i class="fa fa-exclamation-triangle" aria-hidden="true"></i>
		{{error}}
	</div>

	<div ng-if="!isSaving">
		<p>
			Click the Start Import button to add your weather files to your project database.
			This will add the file names to the database, create weather stations, and match the weather stations to 
			your connect files (if they exist).
		</p>
		<label class="check">
			<input type="checkbox" ng-model="options.delete_existing"> Delete existing stations? Leave unchecked to keep.
		</label>
	</div>

	<div ng-if="isSaving">
		<div class="progress" role="progressbar" tabindex="0" aria-valuenow="{{progress.percent}}" aria-valuemin="0" aria-valuemax="100">
			<div class="progress-meter" style="width: {{progress.percent}}%"></div>
		</div>
		<p>
			{{progress.message}}
		</p>
	</div>
</div>
<div class="modal-footer">
	<button type="submit" class="button" ng-click="ok()" ng-disabled="isSaving">
		<i class="fa fa-spinner fa-spin" ng-show="isSaving"></i>
		Start Import
	</button>
	<button class="button secondary" type="button" ng-click="cancel()">Cancel</button>
</div>