<form name="form" ng-submit="save()">
	<div class="modal-header">
		<h1 class="modal-title">{{title}}</h1>
	</div>
	<div class="modal-body">
		<div ng-if="error != null" class="alert callout">
			<i class="fa fa-exclamation-triangle" aria-hidden="true"></i>
			{{error}}
		</div>

		<div ng-class="{'reveal-errors':revealErrors, 'none':!revealErrors}">
			<div>
				<label>
					Name
					<span ng-messages="form.name.$error" class="text-alert" ng-show="form.name.$touched || revealErrors">
						<span ng-message="required">(required)</span>
					</span>
					<input type="text" name="name" ng-model="wgn.name" uib-tooltip="Must be unique and cannot contain spaces" tooltip-placement="bottom" required>
				</label>
			</div>
			<div class="grid-x grid-margin-x">
				<div class="cell medium-6">
					<label>
						Latitude
						<span ng-messages="form.lat.$error" class="text-alert" ng-show="form.lat.$touched || revealErrors">
							<span ng-message="required">(required)</span>
						</span>
						<input type="number" step="any" name="lat" ng-model="wgn.lat" required>
					</label>
				</div>
				<div class="cell medium-6">
					<label>
						Longitude
						<span ng-messages="form.lon.$error" class="text-alert" ng-show="form.lon.$touched || revealErrors">
							<span ng-message="required">(required)</span>
						</span>
						<input type="number" step="any" name="lon" ng-model="wgn.lon" required>
					</label>
				</div>
				<div class="cell medium-6">
					<label>
						Elevation (m)
						<span ng-messages="form.elev.$error" class="text-alert" ng-show="form.elev.$touched || revealErrors">
							<span ng-message="required">(required)</span>
						</span>
						<input type="number" step="any" name="elev" ng-model="wgn.elev" required>
					</label>
				</div>
				<div class="cell medium-6">
					<label>
						Number of years of recorded maximum monthly 0.5h rainfall data
						<span ng-messages="form.rain_yrs.$error" class="text-alert" ng-show="form.rain_yrs.$touched || revealErrors">
							<span ng-message="required">(required)</span>
						</span>				
						<input type="number" step="any" name="rain_yrs" ng-model="wgn.rain_yrs" required>
					</label>
				</div>
			</div>
		</div>
	</div>
	<div class="modal-footer">
		<button type="submit" class="button" ng-click="revealErrors = true" ng-disabled="isSaving">
			<i class="fa fa-spinner fa-spin" ng-show="isSaving"></i>
			Save Changes
		</button>
		<button class="button secondary" type="button" ng-click="cancel()" ng-disabled="isSaving">Cancel</button>
	</div>
</form>