<div class="modal-header">
	<h1 class="modal-title">Import Weather Generator Data</h1>
</div>
<div class="modal-body">
	<div ng-if="error != null" class="alert callout">
		<i class="fa fa-exclamation-triangle" aria-hidden="true"></i>
		{{error}}
	</div>

	<div ng-if="!isSaving">
		<p>
			Click the Start Import button to add weather generator data from the selected database to your project.
			If you have rounting units defined, it will only import wgns within the boundaries of your watershed.
			Otherwise, it will import all from the selected database table.
		</p>
		<label class="check">
			<input type="checkbox" ng-model="options.delete_existing"> Delete existing wgns? Leave unchecked to keep.
		</label>
	</div>

	<div ng-if="isSaving">
		<div class="progress" role="progressbar" tabindex="0" aria-valuenow="{{progress.percent}}" aria-valuemin="0" aria-valuemax="100">
			<div class="progress-meter" style="width: {{progress.percent > 100 ? 100 : progress.percent}}%"></div>
		</div>
		<p>
			{{progress.message}}
		</p>
	</div>
</div>
<div class="modal-footer">
	<button type="submit" class="button" ng-click="ok()" ng-disabled="isSaving">
		<i class="fa fa-spinner fa-spin" ng-show="isSaving"></i>
		Start Import
	</button>
	<button class="button secondary" type="button" ng-click="cancel()">Cancel</button>
</div>