<form name="form" ng-submit="save()">
	<div class="modal-header">
		<h1 class="modal-title">{{title}}</h1>
	</div>
	<div class="modal-body">
		<div ng-if="error != null" class="alert callout">
			<i class="fa fa-exclamation-triangle" aria-hidden="true"></i>
			{{error}}
		</div>

		<div ng-class="{'reveal-errors':revealErrors, 'none':!revealErrors}">
			<div>
				<label>
					Month
					<select name="month" ng-model="wgn.month">
						<option ng-value="1">01 - January</option>
						<option ng-value="2">02 - February</option>
						<option ng-value="3">03 - March</option>
						<option ng-value="4">04 - April</option>
						<option ng-value="5">05 - May</option>
						<option ng-value="6">06 - June</option>
						<option ng-value="7">07 - July</option>
						<option ng-value="8">08 - August</option>
						<option ng-value="9">09 - September</option>
						<option ng-value="10">10 - October</option>
						<option ng-value="11">11 - November</option>
						<option ng-value="12">12 - December</option>
					</select>
				</label>
			</div>
			<div class="grid-x grid-margin-x">
				<div class="cell medium-6">
					<label>
						Avg max daily temperature (&deg;C)
						<span ng-messages="form.tmp_max_ave.$error" class="text-alert" ng-show="form.tmp_max_ave.$touched || revealErrors">
							<span ng-message="required">(required)</span>
						</span>
						<input type="number" step="any" name="tmp_max_ave" ng-model="wgn.tmp_max_ave" required>
					</label>
				</div>
				<div class="cell medium-6">
					<label>
						Avg min daily temperature (&deg;C)
						<span ng-messages="form.tmp_min_ave.$error" class="text-alert" ng-show="form.tmp_min_ave.$touched || revealErrors">
							<span ng-message="required">(required)</span>
						</span>
						<input type="number" step="any" name="tmp_min_ave" ng-model="wgn.tmp_min_ave" required>
					</label>
				</div>
				<div class="cell medium-6">
					<label>
						Std deviation for daily max temperature (&deg;C)
						<span ng-messages="form.tmp_max_sd.$error" class="text-alert" ng-show="form.tmp_max_sd.$touched || revealErrors">
							<span ng-message="required">(required)</span>
						</span>
						<input type="number" step="any" name="tmp_max_sd" ng-model="wgn.tmp_max_sd" required>
					</label>
				</div>
				<div class="cell medium-6">
					<label>
						Std deviation for daily min temperature (&deg;C)
						<span ng-messages="form.tmp_min_sd.$error" class="text-alert" ng-show="form.tmp_min_sd.$touched || revealErrors">
							<span ng-message="required">(required)</span>
						</span>
						<input type="number" step="any" name="tmp_min_sd" ng-model="wgn.tmp_min_sd" required>
					</label>
				</div>
				<div class="cell medium-6">
					<label>
						Avg total monthly precipitation (mm)
						<span ng-messages="form.pcp_ave.$error" class="text-alert" ng-show="form.pcp_ave.$touched || revealErrors">
							<span ng-message="required">(required)</span>
						</span>
						<input type="number" step="any" name="pcp_ave" ng-model="wgn.pcp_ave" required>
					</label>
				</div>
				<div class="cell medium-6">
					<label>
						Std deviation for avg daily precipitation (mm/day)
						<span ng-messages="form.pcp_sd.$error" class="text-alert" ng-show="form.pcp_sd.$touched || revealErrors">
							<span ng-message="required">(required)</span>
						</span>
						<input type="number" step="any" name="pcp_sd" ng-model="wgn.pcp_sd" required>
					</label>
				</div>
				<div class="cell medium-6">
					<label>
						Skew coefficient for avg daily precipitation (mm)
						<span ng-messages="form.pcp_skew.$error" class="text-alert" ng-show="form.pcp_skew.$touched || revealErrors">
							<span ng-message="required">(required)</span>
						</span>
						<input type="number" step="any" name="pcp_skew" ng-model="wgn.pcp_skew" required>
					</label>
				</div>
				<div class="cell medium-6">
					<label>
							Probability of a wet day after a dry day
						<span ng-messages="form.wet_dry.$error" class="text-alert" ng-show="form.wet_dry.$touched || revealErrors">
							<span ng-message="required">(required)</span>
						</span>
						<input type="number" step="any" name="wet_dry" ng-model="wgn.wet_dry" required>
					</label>
				</div>
				<div class="cell medium-6">
					<label>
						Probability of a wet day after a wet day
						<span ng-messages="form.wet_wet.$error" class="text-alert" ng-show="form.wet_wet.$touched || revealErrors">
							<span ng-message="required">(required)</span>
						</span>
						<input type="number" step="any" name="wet_wet" ng-model="wgn.wet_wet" required>
					</label>
				</div>
				<div class="cell medium-6">
					<label>
						Avg # of precipitation days in month
						<span ng-messages="form.pcp_days.$error" class="text-alert" ng-show="form.pcp_days.$touched || revealErrors">
							<span ng-message="required">(required)</span>
						</span>
						<input type="number" step="any" name="pcp_days" ng-model="wgn.pcp_days" required>
					</label>
				</div>
				<div class="cell medium-6">
					<label>
						Max 0.5hr rainfall in entire period (mm)
						<span ng-messages="form.pcp_hhr.$error" class="text-alert" ng-show="form.pcp_hhr.$touched || revealErrors">
							<span ng-message="required">(required)</span>
						</span>
						<input type="number" step="any" name="pcp_hhr" ng-model="wgn.pcp_hhr" required>
					</label>
				</div>
				<div class="cell medium-6">
					<label>
						Avg daily solar radiation (MJ/m<sup>2</sup>/day)
						<span ng-messages="form.slr_ave.$error" class="text-alert" ng-show="form.slr_ave.$touched || revealErrors">
							<span ng-message="required">(required)</span>
						</span>
						<input type="number" step="any" name="slr_ave" ng-model="wgn.slr_ave" required>
					</label>
				</div>
				<div class="cell medium-6">
					<label>
						Avg daily dew point temperature (&deg;C)
						<span ng-messages="form.dew_ave.$error" class="text-alert" ng-show="form.dew_ave.$touched || revealErrors">
							<span ng-message="required">(required)</span>
						</span>
						<input type="number" step="any" name="dew_ave" ng-model="wgn.dew_ave" required>
					</label>
				</div>
				<div class="cell medium-6">
					<label>
						Avg wind speed (m/s)
						<span ng-messages="form.wnd_ave.$error" class="text-alert" ng-show="form.wnd_ave.$touched || revealErrors">
							<span ng-message="required">(required)</span>
						</span>
						<input type="number" step="any" name="wnd_ave" ng-model="wgn.wnd_ave" required>
					</label>
				</div>				
			</div>
		</div>
	</div>
	<div class="modal-footer">
		<button type="submit" class="button" ng-click="revealErrors = true" ng-disabled="isSaving">
			<i class="fa fa-spinner fa-spin" ng-show="isSaving"></i>
			Save Changes
		</button>
		<button class="button secondary" type="button" ng-click="cancel()" ng-disabled="isSaving">Cancel</button>
	</div>
</form>