<h1 class="fileheader">
		Climate / Weather Generator 
		<span>Default file name: weather-wgn.cli</span>
	</h1>
	
	<div ng-if="current_project === undefined" class="alert callout">
		<i class="fa fa-exclamation-triangle" aria-hidden="true"></i>
		No open project. Please go to <a ui-sref="projectSetup">project setup</a>.
	</div>
	
	<div ng-if="loading">
		<i class="fa fa-spinner fa-2x" title="Loading..."></i>
	</div>
	
	<div ng-if="current_project !== undefined && !loading">
			<h2>Import Weather Generator Data</h2>
			<p>
				Import weather generator (wgn) data from an external database into your project.
			</p>
			<form name="formElem" ng-submit="openImportModal()">
				<div ng-class="{'reveal-errors':revealErrors, 'none':!revealErrors}">
					<div>
						<label>
							Database file
							<span ng-messages="formElem.wgn_db.$error" class="text-alert" ng-show="formElem.wgn_db.$touched || revealErrors">
								<span ng-message="required">Required</span>
							</span>
							<div class="input-group">
								<input type="text" name="wgn_db" ng-model="form.wgn_db" class="input-group-field" required>
								<div class="input-group-button">
									<input type="button" value="Browse" class="button" ng-click="selectWgnDb()">
								</div>
							</div>	
						</label>
					</div>
					<div>
						<label>
							Table name in database
							<span ng-messages="formElem.wgn_table_name.$error" class="text-alert" ng-show="formElem.wgn_table_name.$touched || revealErrors">
								<span ng-message="required">Required</span>
							</span>
							<input type="text" name="wgn_table_name" ng-model="form.wgn_table_name" required>	
						</label>
					</div>
					<p>
						<button type="submit" class="button" ng-click="revealErrors = true" ng-disabled="isSaving">
							<i class="fa fa-spinner fa-spin" ng-show="isSaving"></i>
							Save &amp; Import Data
						</button>
					</p>					
				</div>
			</form>
	
			<h2>Weather Generators</h2>
	
			<div ng-if="wgns.length < 1" class="callout">
				Your project does not have any weather generators defined. 
				Import them using the form above, or click below to manually add a generator.
			</div>
		
			<div ng-if="wgns.length > 0">
				<div class="table-scroll">
					<table>
						<thead>
							<tr>
								<th>
									<span style="cursor:pointer" ng-click="sortType = 'name'; sortReverse = !sortReverse; getWgns()">
										Name <span ng-show="sortType == 'name'" ng-class="{'fa fa-caret-up':!sortReverse,'fa fa-caret-down':sortReverse}"></span>
									</span>
								</th>
								<th class="text-center">Values</th>
								<th>
									<span style="cursor:pointer" ng-click="sortType = 'lat'; sortReverse = !sortReverse; getWgns()">
										Lat <span ng-show="sortType == 'lat'" ng-class="{'fa fa-caret-up':!sortReverse,'fa fa-caret-down':sortReverse}"></span>
									</span>
								</th>
								<th>
									<span style="cursor:pointer" ng-click="sortType = 'lon'; sortReverse = !sortReverse; getWgns()">
										Lon <span ng-show="sortType == 'lon'" ng-class="{'fa fa-caret-up':!sortReverse,'fa fa-caret-down':sortReverse}"></span>
									</span>
								</th>
								<th>
									<span style="cursor:pointer" ng-click="sortType = 'elev'; sortReverse = !sortReverse; getWgns()">
										Elevation <span ng-show="sortType == 'elev'" ng-class="{'fa fa-caret-up':!sortReverse,'fa fa-caret-down':sortReverse}"></span>
									</span>
								</th>
								<th>
									<span style="cursor:pointer" ng-click="sortType = 'rain_yrs'; sortReverse = !sortReverse; getWgns()">
										Rain years <span ng-show="sortType == 'rain_yrs'" ng-class="{'fa fa-caret-up':!sortReverse,'fa fa-caret-down':sortReverse}"></span>
									</span>
								</th>
								<th></th>
							</tr>
						</thead>
						<tbody>
							<tr ng-repeat="wgn in wgns | orderBy:sortType:sortReverse">
								<td><a ng-click="openUpdateModal(wgn.id)">{{wgn.name}}</a></td>
								<td class="text-center"><i class="fa fa-eye" style="cursor:pointer" uib-popover-template="'monthlyValuesTemplate.html'" popover-title="{{wgn.name}} values" popover-placement="right" popover-trigger="'outsideClick'" popover-is-open="popOverIsOpen[wgn.id]"></i></td>
								<td>{{wgn.lat | number : 2}}</td>
								<td>{{wgn.lon | number : 2}}</td>
								<td>{{wgn.elev | number : 2}}</td>
								<td>{{wgn.rain_yrs}}</td>
								<td><i class="fa fa-remove text-alert" style="cursor:pointer" ng-click="openDeleteModal(wgn.id, wgn.name)" uib-tooltip="Delete generator" tooltip-placement="left"></i></td>
							</tr>
						</tbody>
					</table>
				</div>

				<script type="text/ng-template" id="monthlyValuesTemplate.html">
					<div ng-if="wgn.monthly_values.length < 1" class="callout">
						This generator does not have any values. Click the button below to add.
					</div>
					<div class="table-scroll" ng-if="wgn.monthly_values.length > 0">
						<table>
							<thead>
								<tr>
									<th></th>
									<th>Month</th>
									<th>Max tmp</th>
									<th>Min tmp</th>
									<th>Max tmp std</th>
									<th>Min tmp std</th>
									<th>Pcp avg</th>
									<th>Pcp std</th>
									<th>Pcp skew</th>
									<th>Prob. dry</th>
									<th>Prob. wet</th>
									<th>Pcp days</th>
									<th>Max rainfall</th>
									<th>Slr</th>
									<th>Dew</th>
									<th>Wind</th>
									<th></th>
								</tr>
							</thead>
							<tbody>
								<tr ng-repeat="row in wgn.monthly_values">
									<td><a ng-click="popOverIsOpen[wgn.id] = false; openValuesUpdateModal(row.id, wgn.name)">Edit</a></td>
									<td>{{row.month}}</td>
									<td>{{row.tmp_max_ave | number : 4}}</td>
									<td>{{row.tmp_min_ave | number : 4}}</td>
									<td>{{row.tmp_max_sd | number : 4}}</td>
									<td>{{row.tmp_min_sd | number : 4}}</td>
									<td>{{row.pcp_ave | number : 4}}</td>
									<td>{{row.pcp_sd | number : 4}}</td>
									<td>{{row.pcp_skew | number : 4}}</td>
									<td>{{row.wet_dry | number : 4}}</td>
									<td>{{row.wet_wet | number : 4}}</td>
									<td>{{row.pcp_days | number : 4}}</td>
									<td>{{row.pcp_hhr | number : 4}}</td>
									<td>{{row.slr_ave | number : 4}}</td>
									<td>{{row.dew_ave | number : 4}}</td>
									<td>{{row.wnd_ave | number : 4}}</td>
									<td><i class="fa fa-remove text-alert" style="cursor:pointer" ng-click="openValuesDeleteModal(row.id, row.month + ' - ' + wgn.name)" uib-tooltip="Delete" tooltip-placement="left"></i></td>
								</tr>
							</tbody>
						</table>
					</div>

					<p ng-if="wgn.monthly_values.length < 12">
						<button type="button" class="button" ng-click="popOverIsOpen[wgn.id] = false; openValuesCreateModal(wgn.id, wgn.name)">Add values</button>
					</p>
				</script>
				
				<ul uib-pagination total-items="pagination.total" ng-model="pagination.currentPage" 
					class="pagination" boundary-links="true" items-per-page="pagination.itemsPerPage" max-size="pagination.maxSize" boundary-link-numbers="true" ng-change="getWgns()" 
					ng-show="pagination.total > pagination.itemsPerPage"></ul>
			</div>
	
			<p>
				<button type="button" class="button" ng-click="openCreateModal()">Add a weather generator</button>
			</p>
	</div>
	