<div class="modal-header">
	<h1 class="modal-title">Confirm delete</h1>
</div>
<div class="modal-body">
	<div ng-if="error != null" class="alert callout">
		<i class="fa fa-exclamation-triangle" aria-hidden="true"></i>
		{{error}}
	</div>

	<p>
		Are you sure you want to delete <strong>{{name}}</strong>?
	</p>
</div>
<div class="modal-footer">
	<button type="submit" class="button" ng-click="ok()" ng-disabled="isSaving"><i class="fa fa-spinner fa-spin" ng-show="isSaving"></i> Delete</button>
	<button type="button" class="button secondary" ng-click="cancel()" ng-disabled="isSaving">Cancel</button>
</div>