<h1 class="fileheader">
    Simulation / Time 
    <span>Default file name: time.sim</span>
</h1>

<div ng-if="current_project === undefined" class="alert callout">
    <i class="fa fa-exclamation-triangle" aria-hidden="true"></i>
    No open project. Please go to <a ui-sref="projectSetup">project setup</a>.
</div>

<div ng-if="loading">
    <i class="fa fa-spinner fa-2x" title="Loading..."></i>
</div>

<div ng-if="current_project !== undefined && !loading">
    <div ng-if="error != null" class="alert callout">
        <i class="fa fa-exclamation-triangle" aria-hidden="true"></i>
        {{error}}
    </div>

    <div ng-if="saved" uib-alert class="success callout" close="closeSaved()" dismiss-on-timeout="3000">
        <i class="fa fa-check" aria-hidden="true"></i> Changes saved.
    </div>

    <form name="form" ng-submit="update()">
        <table class="edit unstriped">
            <thead>
                <tr>
                    <th>Value</th>
                    <th>Description</th>
                    <th>SWAT+ Variable</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td class="field"><input type="number" min="1" max="366" required ng-model="sim.jd_start"></td>
                    <td>Beginning juilian day of simulation</td>
                    <td class="code">jd_start</td>
                </tr>
                <tr>
                    <td class="field"><input type="number" min="0" required ng-model="sim.yr_start"></td>
                    <td>Beginning year of simulation (e.g., 1980)</td>
                    <td class="code">yr_start</td>
                </tr>
                <tr>
                    <td class="field"><input type="number" min="1" max="366" required ng-model="sim.jd_end"></td>
                    <td>Ending juilian day of simulation</td>
                    <td class="code">jd_end</td>
                </tr>
                <tr>
                    <td class="field"><input type="number" min="0" required ng-model="sim.yr_end"></td>
                    <td>Ending year of simulation (e.g., 1980)</td>
                    <td class="code">yr_end</td>
                </tr>
                <tr>
                    <td class="field">
                        <select ng-model="sim.step">
                            <option ng-value="0">Daily</option>
                            <option ng-value="1">Increment</option>
                            <option ng-value="24">Hourly</option>
                            <option ng-value="96">15 Minutes</option>
                            <option ng-value="1440">1 Minute</option>
                        </select>
                    </td>
                    <td>Time steps in a day for rainfall, runoff and rounting</td>
                    <td class="code">step</td>
                </tr>
            </tbody>
        </table>
    
        <p>
            <button type="submit" class="button" ng-click="revealErrors = true" ng-disabled="isSaving">
                <i class="fa fa-spinner fa-spin" ng-show="isSaving"></i>
                Save Changes
            </button>
        </p>
    </form>
</div>
