<div id="side-sub-panel">
	<ul class="vertical menu">
		<li>
			<span ng-click="isSimCollapsed = !isSimCollapsed">
				Simulation
				<i ng-class="{'fa fa-angle-down':!isSimCollapsed,'fa fa-angle-left':isSimCollapsed}"></i>
			</span>
			<div uib-collapse="isSimCollapsed">
				<ul class="menu vertical nested">
					<li><a ui-sref="edit.simTime" ui-sref-active="active">Time</a></li>
					<li><a ui-sref="edit.simPrint" ui-sref-active="active">Print</a></li>
				</ul>
			</div>
		</li>
		<li>
			<span ng-click="isCliCollapsed = !isCliCollapsed">
				Climate
				<i ng-class="{'fa fa-angle-down':!isCliCollapsed,'fa fa-angle-left':isCliCollapsed}"></i>
			</span>
			<div uib-collapse="isCliCollapsed">
				<ul class="menu vertical nested">
					<li><a ui-sref="edit.climateStations" ui-sref-active="active">Weather Stations</a></li>
					<li><a ui-sref="edit.climateWgn" ui-sref-active="active">Weather Generator</a></li>
				</ul>
			</div>
		</li>
		<li>
			<span ng-click="isConCollapsed = !isConCollapsed">
				Connections
				<i ng-class="{'fa fa-angle-down':!isConCollapsed,'fa fa-angle-left':isConCollapsed}"></i>
			</span>
			<div uib-collapse="isConCollapsed">
				<ul class="menu vertical nested">
					<li><a ui-sref="#">HRUs</a></li>
					<li><a ui-sref="#">Routing Units</a></li>
					<li><a ui-sref="#">Aquifers</a></li>
					<li><a ui-sref="#">Channels</a></li>
					<li><a ui-sref="#">Reservoirs</a></li>
					<li><a ui-sref="#">Point Sources</a></li>
					<li><a ui-sref="#">Modflow</a></li>
				</ul>
			</div>
		</li>
		<li>
			<span ng-click="isDbCollapsed = !isDbCollapsed">
				Databases
				<i ng-class="{'fa fa-angle-down':!isDbCollapsed,'fa fa-angle-left':isDbCollapsed}"></i>
			</span>
			<div uib-collapse="isDbCollapsed">
				<ul class="menu vertical nested">
					<li><a ui-sref="#">Plants</a></li>
					<li><a ui-sref="#">Fertilizer</a></li>
					<li><a ui-sref="#">Tillage</a></li>
					<li><a ui-sref="#">Pesticide</a></li>
					<li><a ui-sref="#">Urban</a></li>
					<li><a ui-sref="#">Septic</a></li>
					<li><a ui-sref="#">Snow</a></li>
				</ul>
			</div>
		</li>
	</ul>
</div>
<div id="main-panel">
	<section id="main">
		<div ui-view>
			<h1>Edit SWAT+ inputs</h1>
			
			<p>
				Use the menu on the left to edit SWAT+ input data.
			</p>
		</div>
	</section>

	<div id="taskbar">
		<div class="content">
			<div ng-if="current_project !== undefined">
				 Current project: <span title="{{current_project.settings}}">{{current_project.project_name}}</span>
			</div>
		</div>
	</div>
</div>