<div id="main-panel" class="no-sub">
	<section id="main">
		<h1>About SWAT+ Editor</h1>

		<p>
			SWAT+ Editor is an interface to SWAT+ that allows users to import a project from GIS, modify SWAT+ input, write the text files, and run the model.
		</p>

		<p>
			<a class="button" ng-click="helpers.openInBrowser('http://swatpluseditor.readthedocs.io/en/latest/')">Read the documentation</a>
		</p>

		<h2>SWAT+ Resources</h2>

		<ul class="block">
			<li><a ng-click="helpers.openInBrowser('http://swat.tamu.edu')">SWAT Website</a></li>
			<li><a ng-click="helpers.openInBrowser('https://bitbucket.org/swatplus/swatplus.editor')">SWAT+ Editor source code repository</a></li>
			<li><a ng-click="helpers.openInBrowser('https://bitbucket.org/blacklandgrasslandmodels/modular_swatplus')">SWAT+ source code repository maintained by Blackland</a></li>
		</ul>

		<div class="callout" style="margin-top:2rem">
			<h2>About SWAT</h2>
			<p>
				The Soil and Water Assessment Tool (SWAT) is a public domain model jointly developed by the 
				USDA Agricultural Research Service (USDA-ARS) and Texas A&M AgriLife Research, part of The Texas A&M University System. 
				SWAT is a small watershed to river basin-scale model to simulate the quality and quantity of surface and ground water and predict 
				the environmental impact of land use, land management practices, and climate change. SWAT is widely used in assessing soil erosion 
				prevention and control, non-point source pollution control and regional management in watersheds.
			</p>
		</div>
	</section>
</div>