<div id="main-panel" class="no-sub">
	<section id="main">
		<h1>Analyze Output</h1>
		
		<div class="callout warning">
			<i class="fa fa-exclamation-triangle" aria-hidden="true"></i>
			This section has not been developed.
		</div>
	</section>

	<div id="taskbar">
		<div class="content">
			<div ng-if="current_project !== undefined">
				Current project: <span title="{{current_project.settings}}">{{current_project.project_name}}</span>
			</div>
		</div>
	</div>
</div>