<div id="side-sub-panel">
	<ul class="vertical menu">
		<li ng-if="current_project !== undefined">
			<span>Current Project</span>
			<ul class="menu vertical nested">
				<li><a href="#" title="{{current_project.settings}}">{{current_project.project_name}}</a></li>	
			</ul>
		</li>
		<li>
			<span>Recent Projects</span>
			<ul class="menu vertical nested">
				<li ng-if="recent_projects === undefined || recent_projects.length < 1"><a href="#"><em>No recent projects.</em></a></li>
				<li ng-repeat="project in recent_projects">
					<a ng-click="loadRecentProject(project.settings)" title="{{project.settings}}">{{project.project_name}}</a>
				</li>
			</ul>
		</li>
	</ul>
</div>
<div id="main-panel">
	<section id="main">
		<div ng-if="current_project !== undefined">
			<div class="callout highlight">
				<h1>Current Project </h1>
				<div class="filename" style="margin:0 0 1rem">{{current_project.settings}}</div>

				<form name="updateProjectForm" ng-submit="updateProject()">
					<div ng-class="{'reveal-errors':updateProjectRevealErrors, 'none':!updateProjectRevealErrors}">
						<div>
							<label>
								Project name
								<span ng-messages="updateProjectForm.project_name.$error" class="text-alert" ng-show="updateProjectForm.project_name.$touched || updateProjectRevealErrors">
									<span ng-message="required">(required)</span>
								</span>
								<input type="text" name="project_name" ng-model="current_project.project_name" required>	
							</label>
						</div>
						<div>
							<label>
								Project database
								<div class="input-group">
									<input type="text" name="project_db" ng-model="current_project.project_db" class="input-group-field">
									<div class="input-group-button">
										<input type="button" value="Browse" class="button" ng-click="getCurrentProjectDb()">
									</div>
								</div>	
							</label>
						</div>
						<div>
							<label>
								SWAT+ datasets
								<span ng-messages="updateProjectForm.reference_db.$error" class="text-alert" ng-show="updateProjectForm.reference_db.$touched || updateProjectRevealErrors">
									<span ng-message="required">(required)</span>
								</span>
								<div class="input-group">
									<input type="text" name="reference_db" ng-model="current_project.reference_db" class="input-group-field" required>
									<div class="input-group-button">
										<input type="button" value="Browse" class="button" ng-click="getCurrentReferenceDb()">
									</div>
								</div>								
							</label>						
						</div>
						<button type="submit" class="button" ng-click="updateProjectRevealErrors = true" ng-disabled="isSaving">
							<i class="fa fa-spinner fa-spin" ng-show="isSaving"></i>
							Update Project Settings
						</button>
					</div>
				</form>
			</div>

			<p>
				SWAT+ Editor will use your project defined above. If you'd like to work on a different model, open or create a new project below.
			</p>
		</div>

		<h1 ng-click="isLoadOpen = !isLoadOpen" style="cursor:pointer">
			<i ng-class="{'fa fa-angle-down fa-pull-left':isLoadOpen,'fa fa-angle-right fa-pull-left':!isLoadOpen}" style="font-size:1.2rem; padding:15px 5px 0 0"></i>
			Open an Existing Project
		</h1>
		<div uib-collapse="!isLoadOpen">
			<p>
				If you have already used SWAT+ Editor for your SWAT+ project, select your settings file below.
			</p>
		
			<form name="loadProjectForm" ng-submit="loadProject()">
				<div class="input-group">
					<input type="text" id="project_settings_file" ng-model="existing_project.settings" class="input-group-field" required>
					<div class="input-group-button">
						<input type="button" value="Browse" class="button" ng-click="getSettingsFile()">
					</div>
				</div>
				<button type="submit" class="button" ng-disabled="isSaving">
					<i class="fa fa-spinner fa-spin" ng-show="isSaving"></i>
					Load Project
				</button>
			</form>
		</div>		
		
		<h1 ng-click="isCreateOpen = !isCreateOpen" style="cursor:pointer; border-top: 1px dotted #e2e2e2; margin-top:1rem; padding-top: 1rem">
			<i ng-class="{'fa fa-angle-down fa-pull-left':isCreateOpen,'fa fa-angle-right fa-pull-left':!isCreateOpen}" style="font-size:1.2rem; padding:15px 5px 0 0"></i>
			Create a New Project
		</h1>
		<div uib-collapse="!isCreateOpen">
			<p>
				Create a new SWAT+ Editor project by selecting your databases and type of model you would like to run. {{createProjectForm.$pristine}}
			</p>
			
			<form name="createProjectForm" ng-submit="createProject()">
				<div ng-class="{'reveal-errors':createProjectRevealErrors, 'none':!createProjectRevealErrors}">
					<div>
						<label>
							Project name
							<span ng-messages="createProjectForm.project_name.$error" class="text-alert" ng-show="createProjectForm.project_name.$touched || createProjectRevealErrors">
								<span ng-message="required">(required)</span>
							</span>
							<input type="text" name="project_name" ng-model="new_project.project_name" required>	
						</label>
					</div>
					<div>
						<label>
							Project database
							<div class="input-group">
								<input type="text" name="project_db" ng-model="new_project.project_db" class="input-group-field">
								<div class="input-group-button">
									<input type="button" value="Browse" class="button" ng-click="getProjectDb()">
								</div>
							</div>	
						</label>
					</div>
					<div>
						<label>
							SWAT+ datasets
							<span ng-messages="createProjectForm.reference_db.$error" class="text-alert" ng-show="createProjectForm.reference_db.$touched || createProjectRevealErrors">
								<span ng-message="required">(required)</span>
							</span>
							<div class="input-group">
								<input type="text" name="reference_db" ng-model="new_project.reference_db" class="input-group-field" required>
								<div class="input-group-button">
									<input type="button" value="Browse" class="button" ng-click="getReferenceDb()">
								</div>
							</div>
								
						</label>
						
					</div>
					<button type="submit" class="button" ng-click="createProjectRevealErrors = true" ng-disabled="isSaving">
						<i class="fa fa-spinner fa-spin" ng-show="isSaving"></i>
						Start Project
					</button>
				</div>
			</form>
		</div>
	</section>
</div>