<div class="modal-header">
	<h1 class="modal-title">Write SWAT+ Input Files</h1>
</div>
<div class="modal-body">
	<div ng-if="error != null" class="alert callout">
		<i class="fa fa-exclamation-triangle" aria-hidden="true"></i>
		{{error}}
	</div>

	<div ng-if="!isSaving">
		<p>
			Any existing files in the directory will be overwritten.
		</p>
	</div>

	<div ng-if="isSaving">
		<div class="progress" role="progressbar" tabindex="0" aria-valuenow="{{progress.percent}}" aria-valuemin="0" aria-valuemax="100">
			<div class="progress-meter" style="width: {{progress.percent > 100 ? 100 : progress.percent}}%"></div>
		</div>
		<p>
			{{progress.message}}
		</p>
	</div>
</div>
<div class="modal-footer">
	<button type="submit" class="button" ng-click="ok()" ng-disabled="isSaving">
		<i class="fa fa-spinner fa-spin" ng-show="isSaving"></i>
		Start Writing Files
	</button>
	<button class="button secondary" type="button" ng-click="cancel()">Cancel</button>
</div>