<div id="main-panel" class="no-sub">
		<section id="main">
			<h1>Write SWAT+ Input Files</h1>

			<div ng-if="current_project === undefined" class="alert callout">
				<i class="fa fa-exclamation-triangle" aria-hidden="true"></i>
				No open project. Please go to <a ui-sref="projectSetup">project setup</a>.
			</div>
			
			<div ng-if="loading">
				<i class="fa fa-spinner fa-2x" title="Loading..."></i>
			</div>
			
			<div ng-if="current_project !== undefined && !loading">
				<p>
					Select and save the location of where to write your SWAT+ input files below.
				</p>
		
				<form name="form" ng-submit="save()">
					<div ng-class="{'reveal-errors':revealErrors, 'none':!revealErrors}">
						<div>
							<label>
								<span ng-messages="form.input_files_dir.$error" class="text-alert" ng-show="form.input_files_dir.$touched || revealErrors">
									<span ng-message="required">Required</span>
								</span>
								<div class="input-group">
									<input type="text" name="input_files_dir" ng-model="config.input_files_dir" class="input-group-field" required>
									<div class="input-group-button">
										<input type="button" value="Browse" class="button" ng-click="selectDirectory()">
									</div>
								</div>	
							</label>
						</div>

						<div class="callout highlight" ng-if="config.input_files_last_written != null">
							Input files last written on {{config.input_files_last_written | date:"M/d/yyyy h:mm a"}}
						</div>
						
						<p>
							<button type="submit" class="button" ng-click="revealErrors = true" ng-disabled="isSaving">
								<i class="fa fa-spinner fa-spin" ng-show="isSaving"></i>
								Save &amp; Write Files
							</button>
						</p>					
					</div>
				</form>
			</div>
		</section>

		<div id="taskbar">
			<div class="content">
				<div ng-if="current_project !== undefined">
						Current project: <span title="{{current_project.settings}}">{{current_project.project_name}}</span>
				</div>
			</div>
		</div>
	</div>